@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');



body {
    position: relative;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

/* LOader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #37517e;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #37517e;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*back to top*/
#btn-back-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
    z-index: 99;
    border-radius: 50%;
    background: #0d6efd;
}

#btn-back-to-top i {
    font-size: 1.2rem;
}



/* headline fOnt */
.headline {
    font-family: 'Playfair Display', serif;
}

/* hero section */

.hero-equal-height {
    position: relative;
    min-height: 660px;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.home-area {
    height: 100vh;
    position: relative;
    color: #fff;
    text-align: center;
    background: url(../public/img/hero.jpg);
    box-shadow: inset 0 0 0 2000px rgba(8, 8, 10, 0.625);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    padding-top: 150px;
    padding-bottom: 40px;
}

.svg-shape-bottom .bottom-shape {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    z-index: 1;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.display-4 {
    padding-top: 200px;
    color: white;
}

/* Mission section */
.mision {
    margin-top: -150px;
}

.card:hover {
    background-color: #0d6efd;
    color: white !important;
}

.card:hover .icon {

    transform: rotateY(360deg);

    transition: all 0.5s ease-out 0s;
}

/* Client say section */
.client-img {
    border-radius: 50%;
}

/* Counter section */
.counter-card {
    border-right: 2px dashed;
}


/* Contact section */
.contact-info-title {
    padding: 0 10px;
    margin-bottom: 30px;
}

.box-social-media a {
    margin: 0 10px;
    color: #0d6efd;
    font-size: 16px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    z-index: 3;
}

.box-social-media a:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #0d6efd;
    background: transparent;
    -webkit-transform: rotate(45deg) scale(1.1);
    transform: rotate(45deg) scale(1.1);
    -webkit-transition: all .4s;
    transition: all .4s;
}

.box-social-media a:hover {
    color: #fff;
}

.box-social-media a:hover:after {
    background: #0d6efd;
    -webkit-transform: rotate(45deg) scale(.98);
    -moz-transform: rotate(45deg) scale(.98);
    -ms-transform: rotate(45deg) scale(.98);
    -o-transform: rotate(45deg) scale(.98);
    transform: rotate(45deg) scale(.98);
}

.contact-area .form input,
.contact-area .form textarea {
    width: 100%;
    padding: 12px 20px;
    border: 0;
    background-color: #f5f5fa;
    font-weight: 500;
    border-radius: 5px;
    border-left: 3px solid #0d6efd;
}

button,
input,
textarea:focus {
    border: none;
    outline: none;
}

button,
input,
textarea {
    color: #505050;
}

.button {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.7px;
    font-weight: 700;
    border: 2px solid #0d6efd;
    border-radius: 30px;
    color: #0d6efd;
    background: none;
    cursor: pointer;
    margin-top: 25px;
    overflow: hidden;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.button:hover {
    color: #fff;
    background-color: #0d6efd;
}

/* Footer section*/
.bi-box {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.bi-box:hover {
    opacity: 0.7;
}

.tips .bi-facebook {
    background: #3b5998;
    color: white;
}

.tips .bi-twitter {
    background: #55acee;
    color: white;
}

.tips .bi-youtube {
    background: #bb0000;
    color: white;
}

.tips .bi-instagram {
    background: #125688;
    color: white;
}

.tips .bi-whatsapp {
    background: #00b489;
    color: white;
}